<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/styles.css" />
    <title>Site Pessoal</title>
  </head>
  <body>
    <div class="container">
      <div class="section">
        <p>Coluna 01</p>
      </div>
      <div class="main">
        <div class="header"></div>
        <div class="content"></div>
        <footer>Édipo Martins</footer>
      </div>
      <div class="aside"></div>
    </div>
  </body>
</html>
