*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.container{
    display: flex;
    width: 100%;
    background-color: gray ;
    height: 100%;
}

.section{
    width: 20%;
    background-color: black;
  
}

.main{
    width: 80%;

}

.main .header{
    background-color: blueviolet;
    height: 200px;

}
.main .content{
    height: 600px;
    background-color: white;

}
.main footer{
    height: 200px;
    background-color: red;
}
.aside{
    width: 20%;
    background-color: blue;
}
